<launch>

  <node name="get_object_range" pkg="Bang_navigate_to_goal" type="get_object_range.py" />
  <node name="go_to_goal" pkg="Bang_navigate_to_goal" type="go_to_goal.py" />
</launch>



<!-- We will use SLAM and move_base for this project;
     The only thing I will implement is obstacle avoidance mechanism -->
